<div class="container" id="course-records">
	
	<%= form_tag :refresh_best, method: :get, remote: true, :class => "form-inline" do %>
				<div class="center"><span class="h4"><strong>Course <%= @course %> Records</strong></span>
				<%= hidden_field_tag :new_pointer, session[:pointer], id: "new-pointer" %>
				<%= hidden_field_tag :new_hand, session[:hand], id: "new-hand" %>
				<%= hidden_field_tag :course, @course %>
			    <%= submit_tag "Refresh Scores", name: nil, class: "btn btn-default", id: "refresh-btn" %>   
			<% end %></div>
    <div class="row">
        <% settings = {course: @course, pointer: session[:pointer] || "touchpad", hand: session[:hand] || "right"} %>
        <div class="col-md-6"> 
            <div id="overall-best"><%= print_best_time('overall', course: @course) %><br/></div>
			<div id="overall-best-settings"><%= print_best_time('overall', settings) %><br/></div>
        </div>
        <div class="col-md-6">
            <div id="personal-best"><%= print_best_time('personal', course: @course) %><br/></div>
			<div id="personal-best-settings"><%= print_best_time('personal', settings) %><br/></div>
        </div>
    </div>
</div>






