<% if params[:action] == 'show' %>
	<tr id="score-<%= score.id %>">
	  <td><%= display_time(score.time, score.course) %></td>
	  <td><%= score.course %></td>
	  <td><%= score.pointer %></td>
	  <td><%= score.hand %></td>
	  <td><%= score.created_at.strftime("%B %e, %Y") %></td>
	</tr>
<% else %>
  	<tr id="score-<%= score.id %>">
	  <td><%= @count %>
	  <td><%= score.user.username %></td>
	  <td><%= display_time(score.time, score.course) %></td>
	  <td><%= score.pointer %></td>
	  <td><%= score.hand %></td>
	  <td><%= score.created_at.strftime("%B %e, %Y") %></td>
  	</tr>
  	<% @count += 1 %>
<% end %>