<tr id="score-<%= score.id %>">
  <td><%= score.time %></td>
  <td><%= score.course %></td>
  <td><%= score.pointer %></td>
  <td><%= score.hand %></td>
  <td><%= score.created_at.strftime("%B %e, %Y") %></td>
</tr>