<h1>Test your dexterity on Course <%= @course %>!</h1>
<div id="repeat-form"></div>
<%= render 'best_times' if @course != 3 %>
<%= render 'directions' %>
<div id='buttons'>
	<%= render 'settings' %>
	<br/>
	<%= render 'course_buttons' %>
	<br/>	
	<div id="course-form"><%= render 'course_form' %></div>
</div>