<h1>Test your dexterity on Course <%= @course %>!</h1>
<div id="repeat-form"></div>
<%= render 'best_times' %>
<%= render 'directions' %>
<div id='buttons'>
	<%= render 'settings' %>
	<br/>
	<%= render 'course_buttons' %>
	<br/>	
	<%= form_for(@score, remote: true, id: 'done-form') do |f| %>
		<%= f.hidden_field 'time', id: 'score-time' %>
		<%= f.hidden_field 'course', value: @course, id: 'course' %>
		<%= f.hidden_field 'pointer', id: 'pointer' %>
		<%= f.hidden_field 'hand', id: 'hand' %>
		<%= f.submit("Done!", id: 'done-btn', class: 'ends-btn', hidden: true) %>
	<% end %>
</div>