<% provide(:title, 'My Times') %>


<h1>My Times</h1>
<%= "values: " + @values %>
<% if @user.scores.any? %>
	<table id="user-scores" class="table table-striped table-bordered table-responsive sortable">
	<thead>
	  <tr>
	    <th><%= sortable "time" %></th>
	    <th><%= sortable "course" %><!-- Single button -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Filter </button>
  <ul class="dropdown-menu" role="menu">
    <li><%= filter "course", "1" %></li>
    <li><%= filter "course", "2" %></li>
    <li><%= filter "course", "3" %></li>
  </ul>
</div></th>
	    <th><%= sortable "pointer", "Pointer Type" %><br/>
	    	<%= make_select "pointer" %>
<!--		<select id="pointer_select" multiple="multiple">
			<option value="touchpad">Touchpad</option>
			<option value="mouse">Mouse</option>
			<option value="trackball">Trackball</option>
		</select> -->
	    </th>
	    <th><%= sortable "hand" %><br />
	    	<%= make_select "hand" %></th>
	    <th><%= sortable "created_at", "Date" %></th>
	  </tr>
	</thead>
	<tbody>
	  <%= render @scores %>
	</tbody>
	</table>
	<%= will_paginate @scores %>
<% end %>